body{
  font-family: fantasy;
  color: #0c0b0b;
  background:radial-gradient(pink ,purple,orange) }
p{
  color: black;
  font-style: inherit;
  
}
a {
  color: lightcyan;
}
h1{
  font-style: italic;
}

